html{
  background-color: white;
  font-family: 'Liberation Sans';
}

body {
  color: white;
  background-color: #222;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

header {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  align-items: center;
}

main {
  display: none;
}

#container {
  position: absolute;
}