* {
  margin: 0;
}

body {
  perspective: 1000px;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  max-width: 100vw;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sub {
  position: absolute;
  height: 100%;
  max-width: 100%;
  transform-style: preserve-3d;
}

.sub * {
  position: absolute;
}

.wall {
  width: 2000px;
  height: 1000px;
  backface-visibility: hidden
}

#wallA {
  background-color: #3535e0;
  transform: translateZ(-1000px);
}

#wallB {
  background-color: #35e035;
  transform: translateX(-1000px) rotateY(90deg);
}

#wallC {
  background-color: #e03535;
  transform: translateX(1000px) rotateY(-90deg);
}

#floor {
  width: 2000px;
  height: 2000px;
  background-color: #b0b0b0;
  transform: translateY(500px) rotateX(90deg);
}

#ceil {
  width: 2000px;
  height: 2000px;
  background-color: #222;
  transform: translateY(-500px) rotateX(90deg);
}